<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card style="width: 70%;">
        <mat-card>
            <mat-card-header >

                <mat-card-title>
                    {{opmerking.inhoud}}
                </mat-card-title>

                <mat-card-subtitle>
                    {{ opmerking.date | date: "dd/MM/yyyy HH:mm"}}<br>
                    {{opmerking.auteur}}
                </mat-card-subtitle>

            </mat-card-header>
        </mat-card>
    </mat-card>