<mat-card style="overflow-y: auto;">
    <mat-card-header class="left">

        <mat-card-title>
            {{quote.inhoud}}
        </mat-card-title>

        <mat-card-subtitle>
            {{quote.auteur.voornaam}} {{quote.auteur.achternaam}}
            <br> - {{ quote.date | date: "dd/MM/yyyy"}}
        </mat-card-subtitle>

    </mat-card-header>

    <!-- <mat-card-content class="left">
        <h5>Opmerkingen</h5>
        <ul>
            <li *ngFor="let opmerking of quote.opmerkingen">
                
                {{opmerking.inhoud}}
            </li>
        </ul>   
    </mat-card-content> -->
    <mat-card-content class="right">


    
        <br>

        <div  class="commentIconContainer">
            <!-- <button (click)="upVote()" mat-raised-button>
                <mat-icon>arrow_upward</mat-icon>
            </button>

            <div>
                <br>
                <div> {{quote.rating}}</div>
                <br>
            </div>

            <button (click)="downVote()" mat-raised-button>
                <mat-icon>arrow_downward</mat-icon>
            </button> -->

            <div class="commentIcon" >
            <mat-icon [routerLink]="['/quote/detail', quote.id]" style="cursor: pointer;"> comment</mat-icon>           
        </div>

          


        </div>


        <!-- 
        <form>
            <input matInput placeholder="inhoud" type="text" #newquoteinhoud />
        </form>
        <button (click)="addQuote(newquoteinhoud)" mat-raised-button>
            Add new quote
        </button> -->



    </mat-card-content>
</mat-card>