<mat-card style="overflow-y: auto;">
    <mat-card-header class="left">

        <mat-card-title>
            {{quote.inhoud}}
        </mat-card-title>

        <mat-card-subtitle>
            {{quote.auteur.voornaam}} {{quote.auteur.achternaam}}
            <br> - {{ quote.date | date: "dd/MM/yyyy"}}
        </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content class="right">



        <br>

        <div class="commentIconContainer">
            <div class="commentIcon">
                <mat-icon [routerLink]="['/quote/detail', quote.id]" style="cursor: pointer;"> comment</mat-icon>
            </div>
        </div>
    </mat-card-content>
</mat-card>