<mat-card>
    <mat-card-title>Voeg auteur toe</mat-card-title>
    <mat-card-content>
        <form [formGroup]="auteur" (ngSubmit)='onSubmit()'>

            <!-- Inputs -->
            <mat-form-field style="width: 250px;">
                <mat-label>Voornaam</mat-label> <br>
                <input matInput aria-label="voornaam" placeholder="voornaam" type="text" formControlName="voornaam" />
            </mat-form-field> <br>

            <mat-form-field style="width: 250px;">
                <mat-label>Achternaam</mat-label> <br>
                <input matInput aria-label="achternaam" placeholder="achternaam" type="text"
                    formControlName="achternaam" />
            </mat-form-field>
            <br>

            <mat-form-field style="width: 250px;">
                <mat-label>Omschrijving</mat-label> <br>
                <input matInput aria-label="omschrijving" placeholder="inhoud" type="omschrijving"
                    formControlName="omschrijving" />
            </mat-form-field>
            <br>




            <!-- Errors -->
            <mat-error *ngIf="auteur.get('voornaam')['errors']?.required && 
            auteur.get('voornaam').touched">
                Inhoud van auteur is verplicht in te vullen!
                <br>
            </mat-error>

            <mat-error *ngIf="auteur.get('achternaam')['errors']?.required && 
            auteur.get('achternaam').touched">
                Inhoud van auteur is verplicht in te vullen!
                <br>
            </mat-error>

            <mat-error *ngIf="auteur.get('omschrijving')['errors']?.required && 
            auteur.get('omschrijving').touched">
                Inhoud van auteur is verplicht in te vullen!
                <br>
            </mat-error>


            <!-- button -->
            <button type="submit" mat-raised-button [disabled]='!auteur.valid'>
                Voeg toe
            </button>
        </form>
    </mat-card-content>
</mat-card>