<mat-card style="width: 95%;">
  <mat-card-title>Voeg Quote toe</mat-card-title>
  <mat-card-content>
    <form [formGroup]="quote" (ngSubmit)='onSubmit()'>

      <!-- Inputs -->

      <mat-form-field style="width: 80%;">
        <mat-label>Inhoud van quote</mat-label> <br>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5" matInput matInput aria-label="inhoud" placeholder="inhoud" type="text"
          formControlName="inhoud"></textarea>
      </mat-form-field>

      <br>
      <mat-form-field style="width: 50%;">
        <mat-label>Datum</mat-label> <br>
        <input matInput [max]="maxDate" name="auteur" matInput [matDatepicker]="picker" placeholder="Kies datum" aria-label="datum"
          formControlName="datum" readonly>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>


      <mat-form-field style="width: 50%;">
        <mat-label>Auteur</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="auteur" aria-label="auteur" formControlName="auteur">
          <mat-option *ngFor="let auteur of auteurs$ | async" [value]="auteur">
            {{ auteur.voornaam}} {{auteur.achternaam}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>



      <!-- Errors -->
      <mat-error *ngIf="quote.get('inhoud')['errors']?.required && 
            quote.get('inhoud').touched">
        Inhoud van quote is verplicht in te vullen!
        <br>
      </mat-error>

      <mat-error *ngIf="quote.get('datum')['errors']?.required && 
      quote.get('datum').touched">
        Datum is verplicht in te vullen!
        <br>
      </mat-error>

      <mat-error *ngIf="quote.get('auteur')['errors']?.required && 
      quote.get('auteur').touched">
        Auteur is verplicht in te vullen!
        <br>
      </mat-error>


      <!-- button -->
      <button  mat-raised-button color="primary" data-cy="voegQuoteToe" type="submit" mat-raised-button [disabled]='!quote.valid' >
        Voeg toe
      </button>
    </form>
  </mat-card-content>
</mat-card>