<mat-card style="margin: 5px;">
    <mat-card-header style="font-weight: bold;">
        {{ auteur.voornaam }} {{ auteur.achternaam }}
    </mat-card-header>
    <br>
    <mat-card-subtitle> Quotes</mat-card-subtitle>
    <mat-card-content>
        <ul>
            <div *ngFor="let quote of auteur.quotes">
                {{quote.inhoud}}
            </div>
        </ul>
    </mat-card-content>

    <mat-card-subtitle> omschrijving</mat-card-subtitle>
    <mat-card-content>
        <ul>
            {{auteur.omschrijving}}
        </ul>
    </mat-card-content>
</mat-card>