<mat-card style="margin: 5px;">
    <mat-card-header style="font-weight: bold;">
        {{ auteur.voornaam }} {{ auteur.achternaam }}
    </mat-card-header>
    <br>
    <mat-card-header> Quotes</mat-card-header>

    <mat-card-content>   
  
        <div *ngFor="let quote of auteur.quotes" style="text-indent: 50px;">
            {{quote.inhoud}} <br>
        </div>
        
        <br>
        <mat-card-header> omschrijving</mat-card-header>
    
    <p style="text-indent: 50px;">{{auteur.omschrijving}}</p>
</mat-card-content>
</mat-card>