<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card style="width: 40%;">
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
            <mat-card-header>
                <mat-card-title>Aanmelden </mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column">

                <div class="spacing">
                    <label>Gebruikersnaam</label><br>
                    <input matInput placeholder="gebruikersnaam" aria-label="gebruikersnaam"
                        data-cy="login-gebruikersnaam" formControlName="gebruikersnaam" />

                </div>
                    
                <div class="spacing">
                    <label>Wachtwoord</label><br>
                    <input type="password" matInput placeholder="wachtwoord" aria-label="wachtwoord"
                        data-cy="login-wachtwoord" formControlName="wachtwoord" />
                </div>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                <a [routerLink]="['/register']" >Registreer</a>

                <button mat-raised-button type="submit" color="primary" data-cy="login-button">
                    Login
                </button>
            </mat-card-actions>
        </form>
        <mat-card style="color: red;" *ngIf="errorMessage" data-cy="appError">
            Er ging iets mis bij het inloggen.<br>  
            Controleer gebruikersnaam en wachtwoord
        </mat-card>
    </mat-card>
</div>