<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card style="width: 80%;">
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
            <mat-card-header>
                <mat-card-title>Aanmelden </mat-card-title>
            </mat-card-header>

            <mat-card-content fxLayout="column">
                <mat-form-field style="width: 100%;">
                    <mat-label>Gebruikersnaam</mat-label> <br>
                    <input matInput placeholder="gebruikersnaam" aria-label="gebruikersnaam"
                        data-cy="login-gebruikersnaam" formControlName="gebruikersnaam" />
                    <mat-error *ngIf="user.get('gebruikersnaam').errors && user.get('gebruikersnaam').touched">
                        <br>
                        {{ getErrorMessage(user.get('gebruikersnaam').errors) }}
                    </mat-error>
                </mat-form-field>
                <br>

                <mat-form-field style="width: 100%;">
                    <mat-label>Wachtwoord</mat-label> <br>
                    <input type="password" matInput placeholder="wachtwoord" aria-label="wachtwoord"
                        data-cy="login-wachtwoord" formControlName="wachtwoord" />
                    <mat-error *ngIf="user.get('wachtwoord').errors && user.get('wachtwoord').touched">
                        <br>
                        {{ getErrorMessage(user.get('wachtwoord').errors) }}
                    </mat-error>
                </mat-form-field>
                <br>

            </mat-card-content>

            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button type="submit" color="primary" data-cy="login-button">
                    Login
                </button>

                <a [routerLink]="['/register']">Registreer</a>
            </mat-card-actions>
        </form>
        <mat-card style="color: red;" *ngIf="errorMessage" data-cy="appError">
            Er ging iets mis bij het inloggen.<br>
            Controleer gebruikersnaam en wachtwoord
        </mat-card>
    </mat-card>
</div>